<div class="modal-body">
  <ngb-carousel *ngIf="images" style="margin-top: 65px">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper" >
        <img class="img-fluid" style="width: 100%" [src]="image" alt="Random first slide">
      </div>
    </ng-template>
  </ngb-carousel>
</div>
