<div class="vertical-center" *ngIf="isReady">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <form [formGroup]="form" #ngForm="ngForm" (submit)="formSubmit()">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">* Code</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Code">
                            <p class="error-msg" *ngIf="(form.get('Code').dirty || ngForm.submitted) && form.get('Code').hasError('required')">
                                Code is required!
                            </p>
                        </div>
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Name">
                            <p class="error-msg" *ngIf="(form.get('Name').dirty || ngForm.submitted) && form.get('Name').hasError('required')">
                                Name is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Size</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Size">
                        </div>
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Color</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Color">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">* Cost</label>
                        <div class="col-sm-4">
                            <input numbersOnly decimals="2" type="text" class="form-control" formControlName="Cost">
                            <p class="error-msg" *ngIf="(form.get('Cost').dirty || ngForm.submitted) && form.get('Cost').hasError('required')">
                                Cost is required!
                            </p>
                        </div>
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">* Price</label>
                        <div class="col-sm-4">
                            <input numbersOnly decimals="2" type="text" class="form-control" formControlName="Price">
                            <p class="error-msg" *ngIf="(form.get('Price').dirty || ngForm.submitted) && form.get('Price').hasError('required')">
                                Price is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">* Quantity</label>
                        <div class="col-sm-4">
                            <input numbersOnly type="text" class="form-control" formControlName="Quantity">
                            <p class="error-msg" *ngIf="(form.get('Quantity').dirty || ngForm.submitted) && form.get('Quantity').hasError('required')">
                                Quantiry is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Referance</th>
                                        <th scope="col">Reason</th>
                                        <th scope="col">Created by</th>
                                        <th scope="col">Created date</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let history of histories; let i=index">
                                        <th class="align-middle" scope="row">{{i+1}}</th>
                                        <td class="align-middle">{{history.quantity}}</td>
                                        <td class="align-middle">{{history.reference}}</td>
                                        <td class="align-middle">{{history.reason}}</td>
                                        <td class="align-middle">{{history.createdBy}}</td>
                                        <td class="align-middle">{{history.createdDate | date: 'dd/MM/yyyy'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger float-right" routerLink="/management/material">Back</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>