<mat-nav-list>
    <a mat-list-item routerLink="" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">HOME</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('about')">
        <span class="nav-caption">ABOUT</span>   
    </a>
    <a mat-list-item (click)="onSidenavClose('services')">
        <span class="nav-caption">SERVICE</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('gallery')">
        <span class="nav-caption">GALLERY</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('product')">
        <span class="nav-caption">PRODUCT</span>
    </a>
    <a mat-list-item (click)="onSidenavClose('contact')">
        <span class="nav-caption">CONTACT</span>
    </a>
  </mat-nav-list>