<div class="container">
    <div class="row">
        <div class="col col-12">
            <h2 class="text-center">Chemical Order</h2>
        </div>
    </div>
    <div class="row">
        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Customer</label>
        <div class="col col-sm-4">
            <select class="form-control" [(ngModel)]="CustomerId">
                <option value="0"></option>
                <option *ngFor="let customer of customerList;" [value]="customer.id">{{customer.name}}</option>
            </select>
        </div>
        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Complete Date</label>
        <div class="col col-sm-4">
            <div class="input-group">
                <input class="form-control" placeholder="dd/mm/yyyy" name="dp" [(ngModel)]="OrderedCompleteDateObj" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                      <i class="fa fa-calendar-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Status</label>
        <div class="col col-sm-4">
            <select class="form-control" [(ngModel)]="IsRecive">
                <option value=""></option>
                <option value="true">Import</option>
                <option value="false">Export</option>
            </select>
        </div>
        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Is Completed</label>
        <div class="col col-sm-4">
            <select class="form-control" [(ngModel)]="IsComplete">
                <option value=""></option>
                <option value="true">Complete</option>
                <option value="false">Not Complete</option>
            </select>
        </div>
        <div class="col col-12 text-right">
            <button type="button" class="btn btn-action btn-primary" (click)="loadData()">Search</button>
            <button type="button" class="btn btn-action btn-primary" (click)="clear()">Clear</button>
            <button type="button" class="btn btn-action btn-primary" routerLink="/management/chemical-order/add">Add Chemical Order</button>
        </div>
    </div>
    <div class="col col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Lasted Update Date</th>
                    <th scope="col">Completed Date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Is Complete</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Reason</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let chemicalOrder of getChemicalOrders; let i=index">
                    <tr (click)="chemicalOrder.isCollapsed = !chemicalOrder.isCollapsed">
                        <th class="align-middle" scope="row">{{chemicalOrder.id}}</th>
                        <td class="align-middle">{{chemicalOrder.customer.name}}</td>
                        <td class="align-middle">{{chemicalOrder.updatedDate | date: 'dd/MM/yyyy'}}</td>
                        <td class="align-middle">{{chemicalOrder.orderedCompleteDate | date: 'dd/MM/yyyy'}}</td>
                        <td class="align-middle">{{chemicalOrder.isRecive ? 'Import' : 'Export'}}</td>
                        <td class="align-middle">{{chemicalOrder.isComplete ? 'Complete' : 'Not Complete'}}</td>
                        <td class="align-middle">{{chemicalOrder.amount}}</td>
                        <td class="align-middle">{{chemicalOrder.reason}}</td>
                        <td class="text-right align-middle">
                            <button type="button" class="btn btn-action btn-info" (click)="orderComplete(chemicalOrder);$event.stopPropagation()" *ngIf="!chemicalOrder.isComplete">
                                <i class="fa fa-cart-arrow-down"></i>
                            </button>
                            <button type="button" class="btn btn-action btn-primary " (click)="editChemicalOrder(chemicalOrder);$event.stopPropagation()">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button " class="btn btn-action btn-danger " (click)="deleteChemicalOrder(chemicalOrder);$event.stopPropagation()">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngFor="let orderLine of chemicalOrder.orderLine;" [ngbCollapse]="!chemicalOrder.isCollapsed">
                        <td class="align-middle"></td>
                        <td class="align-middle" colspan="2">{{orderLine.chemical.code}} {{orderLine.chemical.name}}</td>
                        <td class="align-middle" colspan="2">Queantity {{orderLine.quantity}}</td>
                        <td class="align-middle" colspan="2">Price {{orderLine.price}} baht.</td>
                        <td class="align-middle" colspan="2">Total Price {{orderLine.totalPrice}} baht.</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="chemicalOrders.length" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>

            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
              <option [ngValue]="5">5 items per page</option>
              <option [ngValue]="10">10 items per page</option>
              <option [ngValue]="50">50 items per page</option>
            </select>
        </div>
    </div>
</div>