<div class="container">
    <div class="row">
        <div class="col-12">
            <ngb-tabset type="pills">
                <ngb-tab title="Users">
                    <ng-template ngbTabContent>
                        <div class="container">
                            <div class="row">
                                <div class="col col-12 text-right">
                                    <button type="button" class="btn btn-primary" (click)="addUser()">
                    Add User
                  </button>
                                </div>
                                <div class="col col-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Username</th>
                                                <th scope="col">First Name</th>
                                                <th scope="col">Last Name</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of users; let i=index">
                                                <th scope="row">{{i+1}}</th>
                                                <td>{{user.username}}</td>
                                                <td>{{user.firstName}}</td>
                                                <td>{{user.lastName}}</td>
                                                <td class="text-right">
                                                    <button type="button" class="btn btn-info" (click)="updateUserDetail(user)">
                                <i class="fa fa-user"></i>
                              </button>
                                                    <button type="button" class="btn btn-primary" (click)="changePassword(user)">
                                <i class="fa fa-key"></i>
                              </button>
                                                    <button type="button" class="btn btn-danger" (click)="deleteUser(user)">
                                <i class="fa fa-trash"></i>
                              </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Supplier">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col col-12 text-right">
                                <button type="button" class="btn btn-primary" (click)="addSupplier()">
                      Add Supplier
                    </button>
                            </div>
                            <div class="col col-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Tax No.</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">ZipCode</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let supplier of suppliers; let i=index">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{supplier.name}}</td>
                                            <td>{{supplier.taxNo}}</td>
                                            <td>{{supplier.phone}}</td>
                                            <td>{{supplier.email}}</td>
                                            <td>{{supplier.address}}</td>
                                            <td>{{supplier.zipcode}}</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-info" (click)="editSupplier(supplier)">
                                  <i class="fa fa-edit"></i>
                                </button>
                                                <button type="button" class="btn btn-danger" (click)="deleteSupplier(supplier)">
                                  <i class="fa fa-trash"></i>
                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Coporation">
                    <ng-template ngbTabContent>
                        <div class="row">
                            <div class="col col-12 text-right">
                                <button type="button" class="btn btn-primary" (click)="addCoporation()">
                      Add Coporation
                    </button>
                            </div>
                            <div class="col col-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Tax No.</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">ZipCode</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let coporation of coporations; let i=index">
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{coporation.name}}</td>
                                            <td>{{coporation.taxNo}}</td>
                                            <td>{{coporation.phone}}</td>
                                            <td>{{coporation.email}}</td>
                                            <td>{{coporation.address}}</td>
                                            <td>{{coporation.zipcode}}</td>
                                            <td class="text-right">
                                                <button type="button" class="btn btn-info" (click)="editCoporation(coporation)">
                                  <i class="fa fa-edit"></i>
                                </button>
                                                <button type="button" class="btn btn-danger" (click)="deleteCoporation(coporation)">
                                  <i class="fa fa-trash"></i>
                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
            </ngb-tabset>
        </div>
    </div>
</div>