<div class="container">
    <div class="row">
        <div class="col col-12">
            <h2 class="text-center">Chemical</h2>
        </div>
    </div>
    <div class="row">
        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Code</label>
        <div class="col col-sm-4">
            <input type="text" class="form-control" [(ngModel)]="code">
        </div>
        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Name</label>
        <div class="col col-sm-4">
            <input type="text" class="form-control" [(ngModel)]="name">
        </div>
        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Size</label>
        <div class="col col-sm-4">
            <input type="text" class="form-control" [(ngModel)]="size">
        </div>
        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Color</label>
        <div class="col col-sm-4">
            <input type="text" class="form-control" [(ngModel)]="color">
        </div>
        <div class="col col-12 text-right">
            <button type="button" class="btn btn-primary" (click)="loadData()">Search</button>
            <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
            <button type="button" class="btn btn-primary" routerLink="/management/chemical/add">Add Chemical</button>
        </div>
    </div>
    <div class="row">
        <div class="col col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Color</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quentity</th>
                        <th scope="col">Waiting Import</th>
                        <th scope="col">Waiting Export</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let chemical of getChemicals; let i=index">
                        <th class="align-middle" scope="row">{{i+1}}</th>
                        <td class="align-middle">{{chemical.code}}</td>
                        <td class="align-middle">{{chemical.name}}</td>
                        <td class="align-middle">{{chemical.size}}</td>
                        <td class="align-middle">{{chemical.color}}</td>
                        <td class="align-middle">{{chemical.cost}}</td>
                        <td class="align-middle">{{chemical.price}}</td>
                        <td class="align-middle">{{chemical.quantity}}</td>
                        <td class="align-middle">{{chemical.waitingImport}}</td>
                        <td class="align-middle">{{chemical.waitingExport}}</td>
                        <td class="text-right align-middle">
                            <button type="button " class="btn btn-info " (click)="viewDetail(chemical) ">
                              <i class="fa fa-clipboard"></i>
                            </button>
                            <button type="button" class="btn btn-primary " (click)="editChemical(chemical) ">
                              <i class="fa fa-edit"></i>
                            </button>
                            <button type="button " class="btn btn-danger " (click)="deleteChemical(chemical) ">
                              <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="chemicals.length" [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                  <option [ngValue]="5">5 items per page</option>
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                </select>
            </div>
        </div>
    </div>
</div>