<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="customerForm" #ngForm="ngForm" (submit)="formSubmit()">
      <div class="form-group" >
        <label for="exampleInputEmail1">Name *</label>
        <input type="text" class="form-control" formControlName="Name">
        <p class="error-msg" *ngIf="(customerForm.get('Name').dirty || ngForm.submitted) && customerForm.get('Name').hasError('required')">
          Name is required!
        </p>
      </div>
      <div class="form-group"> 
        <label for="exampleInputEmail1">Tax No./ID *</label>
        <input type="text" class="form-control" formControlName="TaxNo">
        <p class="error-msg" *ngIf="(customerForm.get('TaxNo').dirty || ngForm.submitted) && customerForm.get('TaxNo').hasError('required')">
          Tax No/ID is required!
        </p>
      </div>
      <div class="form-group" >
        <label for="exampleInputEmail1">Phone</label>
        <input type="text" class="form-control" formControlName="Phone">
      </div>
      <div class="form-group" >
        <label for="exampleInputEmail1">Email</label>
        <input type="text" class="form-control" formControlName="Email">
      </div>
      <div class="form-group"> 
        <label for="exampleInputEmail1">Address *</label>
        <input type="text" class="form-control" formControlName="Address">
        <p class="error-msg" *ngIf="(customerForm.get('Address').dirty || ngForm.submitted) && customerForm.get('Address').hasError('required')">
          Address is required!
        </p>
      </div>
      <div class="form-group"> 
        <label for="exampleInputEmail1">Zipcode *</label>
        <input type="text" class="form-control" formControlName="ZipCode">
        <p class="error-msg" *ngIf="(customerForm.get('ZipCode').dirty || ngForm.submitted) && customerForm.get('ZipCode').hasError('required')">
          Zipcode is required!
        </p>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button
          type="button"
          class="btn btn-outline-dark"
          (click)="activeModal.close('Close click')">
          Close
        </button>
      </div>
    </form>
  </div>