<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container about" id="product" *ngIf="type == 'pluzzle_game'">
    <hr class="yellow">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/pluzzle_game/BG10001.jpg">
          <div class="card-body">
            <h4>BG10001 </h4>
            <p class="card-text">C.C.O.Puzzle</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/pluzzle_game/BG10008.jpg">
          <div class="card-body">
            <h4>BG10008</h4>
            <p class="card-text">Star Puzzles</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/pluzzle_game/BG10012.jpg">
          <div class="card-body">
            <h4>BG10012</h4>
            <p class="card-text">Mini Nails Cube</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/pluzzle_game/BG10013.jpg">
          <div class="card-body">
            <h4>BG10013</h4>
            <p class="card-text">Burr Puzzle</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/pluzzle_game/BG10020.jpg">
          <div class="card-body">
            <h4>BG10020</h4>
            <p class="card-text">Ball in Jail</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/pluzzle_game/BG10036.jpg">
          <div class="card-body">
            <h4>BG10036</h4>
            <p class="card-text">The Galaxy</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container about" id="product" *ngIf="type == 'box_game'">
    <hr class="yellow">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/box_game/BG20001.jpg">
          <div class="card-body">
            <h4>BG20001</h4>
            <p class="card-text">Puzzle 11 F</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/box_game/BG20003.jpg">
          <div class="card-body">
            <h4>BG20003</h4>
            <p class="card-text">Hexiamondc Puzzle</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/box_game/BG20025.jpg">
          <div class="card-body">
            <h4>BG20025</h4>
            <p class="card-text">Town Puzzle</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/box_game/BG20027.jpg">
          <div class="card-body">
            <h4>BG20027</h4>
            <p class="card-text">Jenga</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/box_game/BG20031.jpg">
          <div class="card-body">
            <h4>BG20031</h4>
            <p class="card-text">Master Logic</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/box_game/BG20033.jpg">
          <div class="card-body">
            <h4>BG20033</h4>
            <p class="card-text">Head to Head</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container about" id="product" *ngIf="type == 'rope_pluzzle'">
    <hr class="yellow">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/rope_pluzzle/BG30002.jpg">
          <div class="card-body">
            <h4>BG30002</h4>
            <p class="card-text">Moon Walker</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/rope_pluzzle/BG30004.jpg">
          <div class="card-body">
            <h4>BG30004</h4>
            <p class="card-text">NBA Puzzle</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/rope_pluzzle/BG30009.jpg">
          <div class="card-body">
            <h4>BG30009</h4>
            <p class="card-text">T Super Train</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/rope_pluzzle/BG30014.jpg">
          <div class="card-body">
            <h4>BG30014</h4>
            <p class="card-text">The Gordian Bridge</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/rope_pluzzle/BG30023.jpg">
          <div class="card-body">
            <h4>BG30023</h4>
            <p class="card-text">The 3 Triangles</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/rope_pluzzle/BG30024.jpg">
          <div class="card-body">
            <h4>BG30024</h4>
            <p class="card-text">Ring on Stick</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container about" id="product" *ngIf="type == 'special_gift_and_game'">
    <hr class="yellow">
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/special_gift_and_game/BG40001.jpg">
          <div class="card-body">
            <h4>BG40001</h4>
            <p class="card-text">The golf out</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/special_gift_and_game/BG40002.jpg">
          <div class="card-body">
            <h4>BG40002</h4>
            <p class="card-text">Drinking Area</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/special_gift_and_game/BG40003.jpg">
          <div class="card-body">
            <h4>BG40003</h4>
            <p class="card-text">Double Magic Box</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/special_gift_and_game/BG40010.jpg">
          <div class="card-body">
            <h4>BG40010</h4>
            <p class="card-text">Mini 6 games in a wooden fancy box</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/special_gift_and_game/BG40036.jpg">
          <div class="card-body">
            <h4>BG40036</h4>
            <p class="card-text">Sudoku Cube Number</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/special_gift_and_game/BG40035.jpg">
          <div class="card-body">
            <h4>BG40035</h4>
            <p class="card-text">12 Games in a wooden Box</p>
            <hr>
            <div class="d-flex justify-content-center">
              <div class="btn-group text-center">
                <button class="btn btn-default" type=""><i class="fas fa-shopping-cart"></i> สั่งซื้อสินค้า</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>