<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="userForm" #ngForm="ngForm" (submit)="formSubmit()">
    <div class="form-group" *ngIf="mode == 'new' || mode == 'updateDetail' ">
      <label for="exampleInputEmail1">First Name *</label>
      <input type="text" class="form-control" formControlName="FirstName">
      <p class="error-msg" *ngIf="(userForm.get('FirstName').dirty || ngForm.submitted) && userForm.get('FirstName').hasError('required')">
        First Name is required!
      </p>
    </div>
    <div class="form-group" *ngIf="mode == 'new' || mode == 'updateDetail' "> 
      <label for="exampleInputEmail1">Last Name *</label>
      <input type="text" class="form-control" formControlName="LastName">
      <p class="error-msg" *ngIf="(userForm.get('LastName').dirty || ngForm.submitted) && userForm.get('LastName').hasError('required')">
        Last Name is required!
      </p>
    </div>
    <div class="form-group" *ngIf="mode == 'new'">
      <label for="exampleInputEmail1">Username *</label>
      <input type="text" class="form-control" formControlName="Username">
      <p class="error-msg" *ngIf="(userForm.get('Username').dirty || ngForm.submitted) && userForm.get('Username').hasError('required')">
        Username is required!
      </p>
    </div>
    <div class="form-group" *ngIf="mode == 'new' || mode == 'changePassword' ">
      <label for="exampleInputPassword1">Password *</label>
      <input type="password" class="form-control" formControlName="Password">
      <p class="error-msg" *ngIf="(userForm.get('Password').dirty || ngForm.submitted) && userForm.get('Password').hasError('required')">
        Password is required!
      </p>
    </div>
    <div class="form-group" *ngIf="mode == 'new' || mode == 'changePassword' ">
        <label for="exampleInputPassword1">Confirm Password *</label>
        <input type="password" class="form-control" formControlName="ConfirmPassword">
        <p class="error-msg" *ngIf="(userForm.get('ConfirmPassword').dirty || ngForm.submitted) && userForm.get('ConfirmPassword').hasError('required')">
          Confirm Password  is required!
        </p>
        <p class="error-msg" *ngIf="userForm.errors?.mismatch && (userForm.get('ConfirmPassword').dirty || ngForm.submitted)">
          Password is not match!
        </p>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="activeModal.close('Close click')">
        Close
      </button>
    </div>
  </form>
</div>