.upload {
    position: relative;
    overflow: hidden;
}

.fileInput {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.remove {
    position: absolute;
    top: 8px;
    right: 25px;
    cursor: pointer;
}

.removeMaterial {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.card {
    margin-bottom: 10px;
}

.btn {
    margin-right: 5px;
}