<div class="vertical-center" *ngIf="isReady">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <form [formGroup]="form" #ngForm="ngForm" (submit)="formSubmit()">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Image</label>
                        <div class="col-sm-10">
                            <div class="row text-center text-lg-left">
                                <ng-container formArrayName="ProductImage" *ngFor="let image of form.get('ProductImage').controls; let i = index;">
                                    <div class="col-lg-3 col-md-4 col-6" [formGroupName]="i">
                                        <div class="d-block mb-4 h-100">
                                            <img class="img-fluid img-thumbnail" [src]="form.controls.ProductImage.controls[i].controls.PreviewImage.value">
                                        </div>
                                        <i class="fa fa-times-circle remove" (click)="removeProductImage(i)"></i>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="upload file btn btn-primary">
                                Upload
                                <input class="fileInput" #file type="file" accept='image/*' (change)="preview(file.files)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">* Code</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Code">
                            <p class="error-msg" *ngIf="(form.get('Code').dirty || ngForm.submitted) && form.get('Code').hasError('required')">
                                Code is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Name">
                            <p class="error-msg" *ngIf="(form.get('Name').dirty || ngForm.submitted) && form.get('Name').hasError('required')">
                                Name is required!
                            </p>
                        </div>
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">Alt Name</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="AltName">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">Craft Time</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="CratfTime">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">Size</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Size">
                        </div>
                        <label numbersOnly decimals="2" for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Width</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Width">
                            <p class="error-msg" *ngIf="(form.get('Width').dirty || ngForm.submitted) && form.get('Width').hasError('required')">
                                Width is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label numbersOnly decimals="2" for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Height</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Height">
                            <p class="error-msg" *ngIf="(form.get('Height').dirty || ngForm.submitted) && form.get('Height').hasError('required')">
                                Height is required!
                            </p>
                        </div>
                        <label numbersOnly decimals="2" for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Length</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Length">
                            <p class="error-msg" *ngIf="(form.get('Cost').dirty || ngForm.submitted) && form.get('Cost').hasError('required')">
                                Cost is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label numbersOnly decimals="2" for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Weight</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" formControlName="Weight">
                            <p class="error-msg" *ngIf="(form.get('Cost').dirty || ngForm.submitted) && form.get('Cost').hasError('required')">
                                Cost is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Cost</label>
                        <div class="col-sm-4">
                            <input numbersOnly decimals="2" type="text" class="form-control" formControlName="Cost">
                            <p class="error-msg" *ngIf="(form.get('Cost').dirty || ngForm.submitted) && form.get('Cost').hasError('required')">
                                Cost is required!
                            </p>
                        </div>
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Price</label>
                        <div class="col-sm-4">
                            <input numbersOnly decimals="2" type="text" class="form-control" formControlName="Price">
                            <p class="error-msg" *ngIf="(form.get('Price').dirty || ngForm.submitted) && form.get('Price').hasError('required')">
                                Price is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Quantity</label>
                        <div class="col-sm-4">
                            <input numbersOnly type="text" class="form-control" formControlName="Quantity">
                            <p class="error-msg" *ngIf="(form.get('Quantity').dirty || ngForm.submitted) && form.get('Quantity').hasError('required')">
                                Quantity is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">Material</label>
                        <div class="col-sm-10">
                            <ng-container formArrayName="ProductMaterial" *ngFor="let productMaterial of form.get('ProductMaterial').controls; let i = index;">
                                <div class="card" [formGroupName]="i">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Code</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" formControlName="MaterialId" (change)="onMaterialChange($event.target.value,i)">
                                                  <option *ngFor="let material of materialList;" [value]="material.id">{{material.code}}</option>
                                                </select>
                                                <p class="error-msg" *ngIf="(form.controls.ProductMaterial.controls[i].controls.MaterialId.dirty || ngForm.submitted) && form.controls.ProductMaterial.controls[i].controls.MaterialId.hasError('required')">
                                                    Material Code is required!
                                                </p>
                                            </div>
                                            <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">Name</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" formControlName="MaterialName" disabled>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">Quantity</label>
                                            <div class="col-sm-4">
                                                <input numbersOnly type="text" class="form-control" formControlName="Quantity">
                                            </div>
                                        </div>
                                    </div>
                                    <i class="fa fa-times-circle removeMaterial" (click)="removeProductMaterial(i)"></i>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 text-right">
                            <button type="button" class="btn btn-primary pull-bottom" (click)="addProductMaterial()">Add Material</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <ngb-tabset type="pills">
                                <ngb-tab>
                                    <ng-template ngbTabTitle>MDF</ng-template>
                                    <ng-template ngbTabContent>
                                        <ng-container formArrayName="ProductPrice" *ngFor="let productPrice of form.get('ProductPrice').controls; let i = index;">
                                            <div class="form-group row" [formGroupName]="i" *ngIf="productPrice.get('Type').value == 'MDF'">
                                                <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">
                                                  <i class="fa fa-trash" style="cursor: pointer;" (click)="removeProductPrice(i)"></i> *Customer</label>
                                                <div class="col-sm-4">
                                                    <select class="form-control" formControlName="CustomerId">
                                                        <option *ngFor="let customer of customerList;" [value]="customer.id">{{customer.name}}</option>
                                                    </select>
                                                    <p class="error-msg" *ngIf="(productPrice.get('CustomerId').dirty || ngForm.submitted) && productPrice.get('CustomerId').hasError('required')">
                                                        Customer is required!
                                                    </p>
                                                </div>
                                                <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">Price</label>
                                                <div class="col-sm-4">
                                                    <input numbersOnly decimals="2" type="text" class="form-control" formControlName="Price">
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="form-group row">
                                            <div class="col-sm-12 text-right">
                                                <button type="button" class="btn btn-primary pull-bottom" (click)="addProductPrice('MDF')">Add MDF Price</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab>
                                    <ng-template ngbTabTitle>Monkey Pod</ng-template>
                                    <ng-template ngbTabContent>
                                        <ng-container formArrayName="ProductPrice" *ngFor="let productPrice of form.get('ProductPrice').controls; let i = index;">
                                            <div class="form-group row" [formGroupName]="i" *ngIf="productPrice.get('Type').value == 'MonkeyPod'">
                                                <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">
                                                  <i class="fa fa-trash" style="cursor: pointer;" (click)="removeProductPrice(i)"></i> *Customer
                                                </label>
                                                <div class="col-sm-4">
                                                    <select class="form-control" formControlName="CustomerId">
                                                        <option *ngFor="let customer of customerList;" [value]="customer.id">{{customer.name}}</option>
                                                    </select>
                                                    <p class="error-msg" *ngIf="(productPrice.get('CustomerId').dirty || ngForm.submitted) && productPrice.get('CustomerId').hasError('required')">
                                                        Customer is required!
                                                    </p>
                                                </div>
                                                <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">Price</label>
                                                <div class="col-sm-4">
                                                    <input numbersOnly decimals="2" type="text" class="form-control" formControlName="Price">
                                                </div>
                                            </div>
                                        </ng-container>
                                        <div class="form-group row">
                                            <div class="col-sm-12 text-right">
                                                <button type="button" class="btn btn-primary pull-bottom" (click)="addProductPrice('MonkeyPod')">Add Monkey Pod Price</button>
                                            </div>
                                        </div>
                                    </ng-template>
                                </ngb-tab>
                            </ngb-tabset>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger float-right" routerLink="/management/product">Cancel</button>
                            <button type="submit" class="btn btn-primary float-right">Save</button>
                        </div>
                    </div>
                </form>
            </div>.
        </div>
    </div>
</div>