<div class="card" style="margin:20px 20px">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="text-center">Chemical</h2>
                </div>
                <div class="col col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Code</th>
                                <th scope="col">Name</th>
                                <th scope="col">Size</th>
                                <th scope="col">Color</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quentity</th>
                                <th scope="col">Waiting Import</th>
                                <th scope="col">Waiting Export</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let chemical of chemicals; let i=index">
                                <th class="align-middle" scope="row">{{i+1}}</th>
                                <td class="align-middle">{{chemical.code}}</td>
                                <td class="align-middle">{{chemical.name}}</td>
                                <td class="align-middle">{{chemical.size}}</td>
                                <td class="align-middle">{{chemical.color}}</td>
                                <td class="align-middle">{{chemical.cost}}</td>
                                <td class="align-middle">{{chemical.price}}</td>
                                <td class="align-middle">{{chemical.quantity}}</td>
                                <td class="align-middle">{{chemical.waitingImport}}</td>
                                <td class="align-middle">{{chemical.waitingExport}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin:20px 20px">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="text-center">Material</h2>
                </div>
                <div class="col col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Code</th>
                                <th scope="col">Name</th>
                                <th scope="col">Size</th>
                                <th scope="col">Color</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quentity</th>
                                <th scope="col">Waiting Import</th>
                                <th scope="col">Waiting Export</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let material of materials; let i=index">
                                <th class="align-middle" scope="row">{{i+1}}</th>
                                <td class="align-middle">{{material.code}}</td>
                                <td class="align-middle">{{material.name}}</td>
                                <td class="align-middle">{{material.size}}</td>
                                <td class="align-middle">{{material.color}}</td>
                                <td class="align-middle">{{material.cost}}</td>
                                <td class="align-middle">{{material.price}}</td>
                                <td class="align-middle">{{material.quantity}}</td>
                                <td class="align-middle">{{material.waitingImport}}</td>
                                <td class="align-middle">{{material.waitingExport}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin:20px 20px">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="text-center">Product</h2>
                </div>
                <div class="col col-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Code</th>
                                <th scope="col">Name</th>
                                <th scope="col">Size</th>
                                <th scope="col">Cost</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Waiting Import</th>
                                <th scope="col">Waiting Export</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let product of productList; let i=index">
                                <tr (click)="product.isCollapsed = !product.isCollapsed">
                                    <th class="align-middle" scope="row">
                                        <div class="d-block mb-4 h-100" *ngIf="product.productImage.length > 0">
                                            <img class="img-thumbnail" style="max-width:200px" [src]="'data:image/jpeg;base64,'+product.productImage[0].image">
                                        </div>
                                    </th>
                                    <td class="align-middle">{{product.code}}</td>
                                    <td class="align-middle">{{product.name}}</td>
                                    <td class="align-middle">{{product.size}}</td>
                                    <td class="align-middle">{{product.cost}}</td>
                                    <td class="align-middle">{{product.price}}</td>
                                    <td class="align-middle">{{product.quantity}}</td>
                                    <td class="align-middle">{{product.waitingImport}}</td>
                                    <td class="align-middle">{{product.waitingExport}}</td>
                                </tr>
                                <tr *ngFor="let material of product.productMaterial;" [ngbCollapse]="!product.isCollapsed">
                                    <td class="align-middle"></td>
                                    <td class="align-middle" colspan="2">{{material.material.code}} {{material.material.name}}</td>
                                    <td class="align-middle" colspan="2">use {{material.quantity}}</td>
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin:20px 20px">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="text-center">Chemical Order</h2>
                </div>
            </div>
            <div class="col col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Lasted Update Date</th>
                            <th scope="col">Completed Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Is Complete</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Reason</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let chemicalOrder of chemicalOrders; let i=index">
                            <tr (click)="chemicalOrder.isCollapsed = !chemicalOrder.isCollapsed">
                                <th class="align-middle" scope="row">{{chemicalOrder.id}}</th>
                                <td class="align-middle">{{chemicalOrder.customer.name}}</td>
                                <td class="align-middle">{{chemicalOrder.updatedDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="align-middle">{{chemicalOrder.orderedCompleteDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="align-middle">{{chemicalOrder.isRecive ? 'Import' : 'Export'}}</td>
                                <td class="align-middle">{{chemicalOrder.isComplete ? 'Complete' : 'Not Complete'}}</td>
                                <td class="align-middle">{{chemicalOrder.amount}}</td>
                                <td class="align-middle">{{chemicalOrder.reason}}</td>
                                <td class="text-right align-middle">
                                    <button type="button" class="btn btn-info" (click)="chemicalOrderComplete(chemicalOrder);$event.stopPropagation()" *ngIf="!chemicalOrder.isComplete">
                                  <i class="fa fa-cart-arrow-down"></i>
                              </button>
                                </td>
                            </tr>
                            <tr *ngFor="let orderLine of chemicalOrder.orderLine;" [ngbCollapse]="!chemicalOrder.isCollapsed">
                                <td class="align-middle"></td>
                                <td class="align-middle" colspan="2">{{orderLine.chemical.code}} {{orderLine.chemical.name}}</td>
                                <td class="align-middle" colspan="2">Queantity {{orderLine.quantity}}</td>
                                <td class="align-middle">Price {{orderLine.price}} baht.</td>
                                <td class="align-middle">Total Price {{orderLine.totalPrice}} baht.</td>
                                <td class="align-middle"></td>
                                <td class="align-middle"></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin:20px 20px">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="text-center">Material Order</h2>
                </div>
            </div>
            <div class="col col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Lasted Update Date</th>
                            <th scope="col">Completed Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Is Complete</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Reason</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let materialOrder of materialOrders; let i=index">
                            <tr (click)="materialOrder.isCollapsed = !materialOrder.isCollapsed">
                                <th class="align-middle" scope="row">{{materialOrder.id}}</th>
                                <td class="align-middle">{{materialOrder.customer.name}}</td>
                                <td class="align-middle">{{materialOrder.updatedDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="align-middle">{{materialOrder.orderedCompleteDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="align-middle">{{materialOrder.isRecive ? 'Import' : 'Export'}}</td>
                                <td class="align-middle">{{materialOrder.isComplete ? 'Complete' : 'Not Complete'}}</td>
                                <td class="align-middle">{{materialOrder.amount}}</td>
                                <td class="align-middle">{{materialOrder.reason}}</td>
                                <td class="text-right align-middle">
                                    <button type="button" class="btn btn-info" (click)="materialOrderComplete(materialOrder);$event.stopPropagation()" *ngIf="!materialOrder.isComplete">
                                <i class="fa fa-cart-arrow-down"></i>
                              </button>
                                </td>
                            </tr>
                            <tr *ngFor="let orderLine of materialOrder.orderLine;" [ngbCollapse]="!materialOrder.isCollapsed">
                                <td class="align-middle"></td>
                                <td class="align-middle" colspan="2">{{orderLine.material.code}} {{orderLine.material.name}}</td>
                                <td class="align-middle" colspan="2">Queantity {{orderLine.quantity}}</td>
                                <td class="align-middle">Price {{orderLine.price}} baht.</td>
                                <td class="align-middle">Total Price {{orderLine.totalPrice}} baht.</td>
                                <td class="align-middle"></td>
                                <td class="align-middle"></td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card" style="margin:20px 20px">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col col-12">
                    <h2 class="text-center">Product Order</h2>
                </div>
            </div>
            <div class="col col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Customer</th>
                            <th scope="col">Lasted Update Date</th>
                            <th scope="col">Completed Date</th>
                            <th scope="col">Status</th>
                            <th scope="col">Is Complete</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Reason</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let productOrder of productOrders; let i=index">
                            <tr (click)="productOrder.isCollapsed = !productOrder.isCollapsed">
                                <th class="align-middle" scope="row">{{productOrder.id}}</th>
                                <td class="align-middle">{{productOrder.customer.name}}</td>
                                <td class="align-middle">{{productOrder.updatedDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="align-middle">{{productOrder.orderedCompleteDate | date: 'dd/MM/yyyy'}}</td>
                                <td class="align-middle">{{productOrder.isRecive ? 'Import' : 'Export'}}</td>
                                <td class="align-middle">{{productOrder.isComplete ? 'Complete' : 'Not Complete'}}</td>
                                <td class="align-middle">{{productOrder.amount}}</td>
                                <td class="align-middle">{{productOrder.reason}}</td>
                                <td class="text-right align-middle">
                                    <button type="button" class="btn btn-info" (click)="productOrderComplete(productOrder);$event.stopPropagation()" *ngIf="!productOrder.isComplete">
                                  <i class="fa fa-cart-arrow-down"></i>
                                </button>
                                </td>
                            </tr>
                            <ng-container *ngFor="let productOrderLine of productOrder.productOrderLines; let i=index">
                                <tr [ngbCollapse]="!productOrder.isCollapsed" (click)="productOrderLine.isCollapsed = !productOrderLine.isCollapsed">
                                    <td class="align-middle"></td>
                                    <td class="align-middle" colspan="2">{{i+1}}. {{productOrderLine.product.code}} {{productOrderLine.product.name}}</td>
                                    <td class="align-middle" colspan="2">Queantity {{productOrderLine.quantity}}</td>
                                    <td class="align-middle">Price {{productOrderLine.price}} baht.</td>
                                    <td class="align-middle">Total Price {{productOrderLine.totalPrice}} baht.</td>
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                </tr>
                                <tr *ngFor="let materialOrderLine of productOrderLine.materialOrderLines; let i=index" [ngbCollapse]="!productOrderLine.isCollapsed">
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                    <td class="align-middle" colspan="2">{{i+1}}. {{materialOrderLine.material.code}} {{materialOrderLine.material.name}}</td>
                                    <td class="align-middle" colspan="2">Queantity {{materialOrderLine.quantity}}</td>
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                    <td class="align-middle"></td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>