<div class="container">
    <div class="row">
        <div class="col col-12">
            <h2 class="text-center">Contact</h2>
        </div>
        <div class="col col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Create Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let contact of contacts; let i=index">
                        <th class="align-middle" scope="row">{{i+1}}</th>
                        <td class="align-middle">{{contact.firstName}}</td>
                        <td class="align-middle">{{contact.lastName}}</td>
                        <td class="align-middle">{{contact.email}}</td>
                        <td class="align-middle" style="word-wrap: break-word;max-width: 350px;">{{contact.comment}}</td>
                        <td class="align-middle">{{contact.createdDate | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>