<div class="vertical-center" *ngIf="isReady">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <form [formGroup]="orderForm" #ngForm="ngForm" (submit)="formSubmit()">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">* Complete Date</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control" placeholder="dd/mm/yyyy" name="dp" formControlName="OrderedCompleteDateObj" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                      <i class="fa fa-calendar-alt"></i>
                                    </button>
                                </div>
                            </div>
                            <p class="error-msg" *ngIf="(orderForm.get('OrderedCompleteDateObj').dirty || ngForm.submitted) && orderForm.get('OrderedCompleteDateObj').hasError('required')">
                                Complete Date is required!
                            </p>
                        </div>
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Customer</label>
                        <div class="col-sm-4">
                            <select class="form-control" formControlName="CustomerId">
                                <option *ngFor="let customer of customerList;" [value]="customer.id">{{customer.name}}</option>
                            </select>
                            <p class="error-msg" *ngIf="(orderForm.get('CustomerId').dirty || ngForm.submitted) && orderForm.get('CustomerId').hasError('required')">
                                Customer is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Completed</label>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" [value]="true" formControlName="IsComplete"> Completed</label>
                            <label class="radio-inline"><input type="radio" [value]="false" formControlName="IsComplete"> Not Complete</label>
                        </div>
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Import or Export</label>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" [value]="true" formControlName="IsRecive" (change)="isReciveChange($event)"> Import</label>
                            <label class="radio-inline"><input type="radio" [value]="false" formControlName="IsRecive" (change)="isReciveChange($event)"> Export</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Reason</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" formControlName="Reason" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Order Line</label>
                        <div class="col-sm-10 text-right">
                            <button type="button" class="btn btn-primary pull-bottom" (click)="addOrderLine()">Add OrderLine</button>
                        </div>
                    </div>
                    <div class="form-group row" formArrayName="OrderLine" *ngFor="let orderLine of orderForm.get('OrderLine').controls; let i = index;">
                        <div class="col-sm-12" [formGroupName]="i">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label text-right"> {{i +1}}. * Material Code</label>
                                <div class="col-sm-4">
                                    <select class="form-control" formControlName="MaterialId" (change)="onMaterialChange($event.target.value,i)">
                                        <option *ngFor="let material of materialList;" [value]="material.id">{{material.code}}</option>
                                    </select>
                                    <p class="error-msg" *ngIf="(orderForm.controls.OrderLine.controls[i].controls.MaterialId.dirty || ngForm.submitted) && orderForm.controls.OrderLine.controls[i].controls.MaterialId.hasError('required')">
                                        Material Code is required!
                                    </p>
                                </div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label text-right"> Material Name</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" formControlName="MaterialName" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right"> * Quantity</label>
                                <div class="col-sm-4">
                                    <input type="text" numbersOnly class="form-control" formControlName="Quantity" (ngModelChange)="onQuantityChange($event,i)" max="500">
                                    <small *ngIf="!orderForm.controls.IsRecive.value">max quantity {{orderForm.controls.OrderLine.controls[i].controls.MaxQuantity.value}}</small>
                                    <p class="error-msg" *ngIf="(orderForm.controls.OrderLine.controls[i].controls.Quantity.dirty || ngForm.submitted) && orderForm.controls.OrderLine.controls[i].controls.Quantity.hasError('required')">
                                        Quantity is required!
                                    </p>
                                    <p class="error-msg" *ngIf="(orderForm.controls.OrderLine.controls[i].controls.Quantity.dirty || ngForm.submitted) && orderForm.controls.OrderLine.controls[i].controls.Quantity.hasError('max')">
                                        Quantity is Over!
                                    </p>
                                </div>
                                <label class="col-sm-2 col-form-label text-right"> * Price</label>
                                <div class="col-sm-4">
                                    <input type="text" numbersOnly decimals="2" class="form-control" formControlName="Price" (ngModelChange)="onPriceChange($event,i)">
                                    <p class="error-msg" *ngIf="(orderForm.controls.OrderLine.controls[i].controls.Price.dirty || ngForm.submitted) && orderForm.controls.OrderLine.controls[i].controls.Price.hasError('required')">
                                        Price is required!
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6"></div>
                                <label class="col-sm-2 col-form-label text-right"> * Total Price</label>
                                <div class="col-sm-4">
                                    <input type="text" numbersOnly decimals="2" class="form-control" formControlName="TotalPrice" (ngModelChange)="onTotalPriceChange($event,i)">
                                    <p class="error-msg" *ngIf="(orderForm.controls.OrderLine.controls[i].controls.TotalPrice.dirty || ngForm.submitted) && orderForm.controls.OrderLine.controls[i].controls.TotalPrice.hasError('required')">
                                        Total Price is required!
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-danger float-right" (click)="removeOrderLine(i)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right"></label>
                        <div class="col-sm-4">
                        </div>
                        <label class="col-sm-2 col-form-label text-right"> * Amount</label>
                        <div class="col-sm-4">
                            <input type="text" numbersOnly decimals="2" class="form-control" formControlName="Amount" disabled>
                            <p class="error-msg" *ngIf="(orderForm.controls.Amount.dirty || ngForm.submitted) && orderForm.controls.Amount.hasError('required')">
                                Amount is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger float-right" routerLink="/management/material-order">Cancel</button>
                            <button type="submit" class="btn btn-primary float-right">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>