@media (max-width: 1000px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}