<body >
    <mat-sidenav-container>
        <mat-sidenav #sidenav role="navigation">
            <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
        </mat-sidenav>
        <mat-sidenav-content (scroll)="onScroll($event)">
            <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
            <div style="margin-top: 75px;">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <app-loading-screen></app-loading-screen>
</body>
