<div class="vertical-center" *ngIf="isReady">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-10">
                <form [formGroup]="form" #ngForm="ngForm" (submit)="formSubmit()">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">* Complete Date</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control" placeholder="dd/mm/yyyy" name="dp" formControlName="OrderedCompleteDateObj" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <i class="fa fa-calendar-alt"></i>
                                  </button>
                                </div>
                            </div>
                            <p class="error-msg" *ngIf="(form.get('OrderedCompleteDateObj').dirty || ngForm.submitted) && form.get('OrderedCompleteDateObj').hasError('required')">
                                Complete Date is required!
                            </p>
                        </div>
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right text-right">* Customer</label>
                        <div class="col-sm-4">
                            <select class="form-control" formControlName="CustomerId" (change)="onCustomerChange($event.target.value)">
                              <option *ngFor="let customer of customerList;" [value]="customer.id">{{customer.name}}</option>
                            </select>
                            <p class="error-msg" *ngIf="(form.get('CustomerId').dirty || ngForm.submitted) && form.get('CustomerId').hasError('required')">
                                Customer is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Completed</label>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" [value]="true" formControlName="IsComplete"> Completed</label>
                            <label class="radio-inline"><input type="radio" [value]="false" formControlName="IsComplete"> Not Complete</label>
                        </div>
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Import or Export</label>
                        <div class="col-sm-4">
                            <label class="radio-inline"><input type="radio" [value]="true" formControlName="IsRecive" (change)="isReciveChange($event)"> Import</label>
                            <label class="radio-inline"><input type="radio" [value]="false" formControlName="IsRecive" (change)="isReciveChange($event)"> Export</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Reason</label>
                        <div class="col-sm-4">
                            <textarea class="form-control" formControlName="Reason" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Order Line</label>
                        <div class="col-sm-10 text-right">
                            <button type="button" class="btn btn-primary pull-bottom" (click)="addOrderLine()">Add OrderLine</button>
                        </div>
                    </div>
                    <div class="form-group row" formArrayName="ProductOrderLines" *ngFor="let productOrderLine of form.get('ProductOrderLines').controls; let i = index;">
                        <div class="col-sm-12" [formGroupName]="i">
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label text-right"> {{i +1}}. * Product Code</label>
                                <div class="col-sm-4">
                                    <select class="form-control" formControlName="ProductId" (change)="onProductChange($event.target.value,i)">
                                      <option *ngFor="let product of productList;" [value]="product.id">{{product.code}}</ option>
                                    </select>
                                    <p class="error-msg" *ngIf="(productOrderLine.get('ProductId').dirty || ngForm.submitted) && productOrderLine.get('ProductId').hasError('required')">
                                        Product Code is required!
                                    </p>
                                </div>
                                <label for="inputEmail3" class="col-sm-2 col-form-label text-right"> Product Name</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" formControlName="ProductName" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label text-right"> * Quantity</label>
                                <div class="col-sm-4">
                                    <input type="text" numbersOnly class="form-control" formControlName="Quantity" (ngModelChange)="onQuantityChange($event,i)">
                                    <small *ngIf="!form.controls.IsRecive.value">max quantity {{productOrderLine.get('MaxQuantity').value}}</small>
                                    <p class="error-msg" *ngIf="(productOrderLine.get('Quantity').dirty || ngForm.submitted) && productOrderLine.get('Quantity').hasError('required')">
                                        Quantity is required!
                                    </p>
                                    <p class="error-msg" *ngIf="(productOrderLine.get('Quantity').dirty || ngForm.submitted) && productOrderLine.get('Quantity').hasError('max')">
                                        Quantity is Over!
                                    </p>
                                </div>
                                <label class="col-sm-2 col-form-label text-right"> * Price</label>
                                <div class="col-sm-4">
                                    <input type="text" numbersOnly decimals="2" class="form-control" formControlName="Price" (ngModelChange)="onPriceChange($event,i)">
                                    <p class="error-msg" *ngIf="(productOrderLine.get('Price').dirty || ngForm.submitted) && productOrderLine.get('Price').hasError('required')">
                                        Price is required!
                                    </p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-4">
                                    <label class="radio-inline"><input type="radio" [value]="true" formControlName="IsMDF" (change)="isMDFChange($event)"> MDF</label>
                                    <label class="radio-inline"><input type="radio" [value]="false" formControlName="IsMDF" (change)="isMDFChange($event)"> Monkey Pod</label>
                                </div>
                                <label class="col-sm-2 col-form-label text-right"> * Total Price</label>
                                <div class="col-sm-4">
                                    <input type="text" numbersOnly decimals="2" class="form-control" formControlName="TotalPrice" (ngModelChange)="onTotalPriceChange($event,i)">
                                    <p class="error-msg" *ngIf="(productOrderLine.get('TotalPrice').dirty || ngForm.submitted) && productOrderLine.get('TotalPrice').hasError('required')">
                                        Total Price is required!
                                    </p>
                                </div>
                            </div>
                            <ng-container formArrayName="MaterialOrderLines" *ngFor="let materialOrderLine of productOrderLine.get('MaterialOrderLines').controls; let i = index;">
                                <div class="form-group row" [formGroupName]="i">
                                    <div class="col-sm-2"></div>
                                    <label class="col-sm-6 col-form-label text-right">{{i+1}}. {{materialOrderLine.get('MaterialName').value}} * {{materialOrderLine.get('QuantityPerProduct').value}}</label>
                                    <div class="col-sm-4">
                                        <input type="text" numbersOnly class="form-control" formControlName="Quantity" disabled>
                                        <small *ngIf="!form.controls.IsRecive.value">max quantity {{materialOrderLine.get('MaxQuantity').value}}</small>
                                        <p class="error-msg" *ngIf="(materialOrderLine.get('Quantity').dirty || ngForm.submitted) && materialOrderLine.get('Quantity').hasError('required')">
                                            Quantity is required!
                                        </p>
                                        <p class="error-msg" *ngIf="(materialOrderLine.get('Quantity').dirty || ngForm.submitted) && materialOrderLine.get('Quantity').hasError('max')">
                                            Quantity is Over!
                                        </p>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-danger float-right" (click)="removeOrderLine(i)">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label text-right"></label>
                        <div class="col-sm-4">
                        </div>
                        <label class="col-sm-2 col-form-label text-right"> * Amount</label>
                        <div class="col-sm-4">
                            <input type="text" numbersOnly decimals="2" class="form-control" formControlName="Amount" disabled>
                            <p class="error-msg" *ngIf="(form.controls.Amount.dirty || ngForm.submitted) && form.controls.Amount.hasError('required')">
                                Amount is required!
                            </p>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger float-right" routerLink="/management/material-order">Cancel</button>
                            <button type="submit" class="btn btn-primary float-right">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>