<div class="container">
    <div class="row">
        <div class="col col-12">
            <h2 class="text-center">Product</h2>
        </div>
        <div class="row">
            <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Code</label>
            <div class="col col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="code">
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Name</label>
            <div class="col col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="name">
            </div>
            <label for="inputEmail3" class="col-sm-2 col-form-label text-right">Size</label>
            <div class="col col-sm-4">
                <input type="text" class="form-control" [(ngModel)]="size">
            </div>
            <div class="col col-12 text-right">
                <button type="button" class="btn btn-primary" (click)="loadData()">Search</button>
                <button type="button" class="btn btn-primary" (click)="clear()">Clear</button>
                <button type="button" class="btn btn-primary" routerLink="/management/product/add">Add Product</button>
            </div>
        </div>
        <div class="col col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Size</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Waiting Import</th>
                        <th scope="col">Waiting Export</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let product of getProducts; let i=index">
                        <tr (click)="product.isCollapsed = !product.isCollapsed">
                            <th class="align-middle" scope="row">
                                <div class="d-block mb-4 h-100" *ngIf="product.productImage.length > 0">
                                    <img class="img-thumbnail" style="max-width:200px" [src]="'data:image/jpeg;base64,'+product.productImage[0].image">
                                </div>
                            </th>
                            <td class="align-middle">{{product.code}}</td>
                            <td class="align-middle">{{product.name}}</td>
                            <td class="align-middle">{{product.size}}</td>
                            <td class="align-middle">{{product.cost}}</td>
                            <td class="align-middle">{{product.price}}</td>
                            <td class="align-middle">{{product.quantity}}</td>
                            <td class="align-middle">{{product.waitingImport}}</td>
                            <td class="align-middle">{{product.waitingExport}}</td>
                            <td class="text-right align-middle">
                                <button type="button" class="btn btn-info" (click)="viewDetail(product);$event.stopPropagation()">
                                    <i class="fa fa-clipboard"></i>
                                </button>
                                <button type="button" class="btn btn-primary " (click)="edit(product);$event.stopPropagation()">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button " class="btn btn-danger " (click)="delete(product);$event.stopPropagation()">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr *ngFor="let material of product.productMaterial;" [ngbCollapse]="!product.isCollapsed">
                            <td class="align-middle"></td>
                            <td class="align-middle" colspan="2">{{material.material.code}} {{material.material.name}}</td>
                            <td class="align-middle" colspan="2">use {{material.quantity}}</td>
                            <td class="align-middle"></td>
                            <td class="align-middle"></td>
                            <td class="align-middle"></td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <div class="d-flex justify-content-between p-2">
                <ngb-pagination [collectionSize]="productList.length" [(page)]="page" [pageSize]="pageSize">
                </ngb-pagination>

                <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
                  <option [ngValue]="5">5 items per page</option>
                  <option [ngValue]="10">10 items per page</option>
                  <option [ngValue]="50">50 items per page</option>
                </select>
            </div>
        </div>
    </div>
</div>