@media(max-width:800px){
	.about, .team, .gallery, .welcome, .contact-w3-agileits, .banner-bottom, .services {
		padding: 3em 0;
	}
	.w3-heading-all h3 {
		font-size: 2.3em;
	}
}
@media(max-width:414px){
    .about, .team, .gallery, .welcome, .contact-w3-agileits, .banner-bottom, .services .grid_info  {
         padding: 2em 0;
    }
}

.font {
	font: "Helvetica Neue",sans-serif;
}

.about,.team,.gallery,.welcome,.contact-w3-agileits,.banner-bottom,.services{
    padding:4em 0;
}

.w3-heading-all h3 {
    font-size: 2em;
}

.w3-heading-all h3 {
    font-size: 2.5em;
     color: #3d3d3d;
     font-family: 'Yanone Kaffeesatz', sans-serif;
     font-weight: 400;
     letter-spacing: 5px;
     text-transform: uppercase;
     margin-bottom: 30px;
      text-align: center;
 }

.inner_sec_info_agileits_w3 {
    flex-wrap: nowrap !important
}

/*-- /grid_info --*/

.grid_info {
	text-align: center;
	padding: 2em 1em;
	background: rgba(0, 0, 0, 0.7);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -webkit-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
    -o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
    height: 100%;
}

.grid_info:hover {
	transform: scale(1.05) translateZ(0);
}

.icon_info span {
	height: 90px;
	width: 90px;
	background:rgb(254,143,1);
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	-moz-border-radius: 50%;
	border: 5px solid #fafafa;
	line-height: 85px;
	font-size: 2em;
	color:#fff;
}

.icon_info h5 {
	font-size: 1.4em;
	color: #fff;
	margin: 1em 0;
	font-weight: 600;
}

.icon_info p {
	color: #ffffffd6;
}

/*-- //grid_info --*/

hr.yellow {
	margin-bottom: 4.5em;
	border-color: rgb(254,143,1);
	border-width: 3px;
	max-width: 80px;
}

.about-section {
	background-color: #d7d7d7;
}

.bg-about {
	background-color: #ffffff;
	padding: 60px 0px 60px;
}

p {
	line-height: 1.6;
}

h3.agile-title {
	color: #111;
	font-size: 3.3em;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	text-align: center;
	position: relative;
}

.border {
	padding: 30px;
	border: 1px solid #ddd;
}

.service-w3l {
	background: url("../../assets/pic_1.jpg") no-repeat center;	
	background-size: cover;
	padding: 5em 0;
	background-position: 0% 25%;
}
.contact-w3l {
	background: url("../../assets/pic_3.jpg") no-repeat center;	
	background-size: cover;
	padding: 5em 0;
	background-position: 0% 25%;
}

.inner_sec_info_agileits_w3 {
	margin-top: 4em;
}

/*-- /grid_info --*/

.grid_info {
	text-align: center;
	padding: 2em 1em;
	background: rgba(0, 0, 0, 0.7);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -webkit-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
	-o-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	margin-bottom: 2em !important;
}

.icon_info h5 {
	font-size: 1.4em;
	color: #fff;
	margin: 1em 0;
	font-weight: 600;
}

.icon_info p {
	color: #ffffffd6;
}

/*-- //grid_info --*/

.wthree_team_grid_left {
	overflow: hidden;
	position: relative;
}

figure.effect-julia {
	background: #2f3238;
}
.wthree_team_grid_left figure {
	position: relative;
	float: none;
	top: -13px;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 100%;
}

.img-responsive {
	width: 100%;
	height: 100%;
}

.bg-contact {
	background-color: #2f2f2f;
}

.padding-contact {
	padding: 0px 70px 0px;
}

.footer {
	background: #2f2f2f;
	text-align: center;
}

.footer ul.nav-buttom li {
	list-style: none;
	display: inline-block;
	margin: 40px 15px;
}

.footer ul.nav-buttom li a {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.footer h3 {
	font-size: 20px;
	color: #47cf73;
	letter-spacing: 2px;
	font-weight: 800;
}

.icons {
	text-align: center;
	padding-top: 15px;
}

.icons ul li {
	display: inline-block;
}

.icons ul li a {
	color: #fff;
	font-size: 15px;
	letter-spacing: 11.4px;
}

.one p {
	color: #fff;
	line-height: 26px;
	font-size: 14px;
}

.addres p {
	font-size: 15px;
	color: #fff;
	padding: 10px 0px;
}

footer {
	background: #2f2f2f;
}

footer p {
	padding: 0.8em 0;
	text-align: center;
	font-size: 15px;
	color: #2f2f2f;
	letter-spacing: 2.5px;
	background: #ffff;
}

.size-logo {
	width: 100%;
}

.social a {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	color: #fff;
	font-size: 18px;
	line-height: 59px;
	text-align: center;
	line-height: 50px;
	margin-top: 10px;
	display:inline-block;
	margin:5px;
}

.social a.fa-facebook {
	background: #2884C6;
}

.social a.fa-line {
	background: #47cf73;
}

.contact-form label{
	font-weight:600;
}

.contact-form button{
	background: #fe8f01;
	color: #fff;
	font-weight: 600;
	width: 25%;
}

.contact-form button:focus{
	box-shadow:none;
}

.btn-default {
	background: #fe8f01;
	color: #fff;
	font-weight: 600;
	width: 25%;
}

.icon-size {
	height: 100px;
}

