<ngb-carousel *ngIf="images" style="margin-top: 65px">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" style="width: 100%" [src]="images[0]" alt="Random first slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" style="width: 100%" [src]="images[1]" alt="Random second slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" style="width: 100%" [src]="images[2]" alt="Random second slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" style="width: 100%" [src]="images[3]" alt="Random second slide">
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img class="img-fluid" style="width: 100%" [src]="images[4]" alt="Random second slide">
    </div>
  </ng-template>
</ngb-carousel>
<!--/icons-->
<div class="font">
  <!--about-->
  <div class="about w3layouts-agileinfo" id="about">
    <div class="container">
      <h3 class="agile-title">About Us</h3>
      <hr class="yellow">
      <div class="row about-top w3ls-agile">
        <div class="col-md-4 red">
          <img _ngcontent-c10=""  class="img-fluid" alt="Random first slide" src="assets/logo.png">
        </div>
        <div class="col-md-8 come">
          <div class="about-wel">
            <p style="text-indent: 82px;word-wrap: break-word">
              <b>BoonlerdGamemai</b> Factory was founded in 1995. producing wooden toys from Monkey Pod wood (SCI.name: Samanea saman) as known “wooden puzzle” By Mr. 
              Boonlerd Khamsuk is the founder of the factory. From a small factory become a global market. And the current Miss 
              Waraporn Khamsuk had inherited the business from his father (Mr. Boonlerd Khamsuk) And was registered as a legal entity emulate. 
              "Boonlerdgamemai Co., Ltd." since 2017 to date</p>
            <p style="text-indent: 82px;word-wrap: break-word">Boonlerdgamemai Company produces and sells wood games under its own brand and OEM for many brands. Domestic and foreign. So, companies need to expand their businesses and workers increased steadily. For order to accommodate the increasing every year.</p>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--/about-->

  <!--SERVICES-->
  <div class="service-w3l" id="services">
    <div class="container-fluid">
      <h3 class="agile-title text-white"> Our Services</h3>
      <hr class="yellow">
      <div class="row">
        <div class="col-md-4 col-sm-12" style="margin-bottom: 25px;cursor: pointer;" (click)="openServiceModal('game')">
          <div class="grid_info">
            <div class="icon_info">
              <img _ngcontent-c10="" class="icon-size" src="assets/icon-1.png">
              <h5>WOODENGAME & TOY</h5>
              <p>DESIGN & MADE TO ORDER</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12" style="margin-bottom: 25px;cursor: pointer;" (click)="openServiceModal('kit')">
          <div class="grid_info">
            <div class="icon_info">
              <img _ngcontent-c10="" class="icon-size" src="assets/icon-3.png">
              <h5>KITCHENWARE</h5>
              <p>DESIGN AND MADE TO ORDER</p>
              <p>BY MOKUHEN BRAND</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-12" style="margin-bottom: 25px;cursor: pointer;" (click)="openServiceModal('diy')">
          <div class="grid_info">
            <div class="icon_info">
              <img _ngcontent-c10="" class="icon-size" src="assets/icon-4.png">
              <h5>DIY</h5>
              <p>EVERYTING MADE OF WOOD</p>
              <p>DECORE & GIFT & SOUVENIR</p>
            </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--/SERVICES-->

  <!--gallery-->
  <div class="about about-section w3layouts-agileinfo" id="gallery">
    <div class="container">
      <h3 class="agile-title text-white">Gallery</h3>
      <hr class="yellow">
      <div class="row about-top w3ls-agile">
        <div class="col-md-4 wthree_team_grid_left">
          <figure class="effect-julia">
            <img src="assets/gallery/1.jpg" alt=" " class="img-responsive">
          </figure>
        </div>
        <div class="col-md-4 wthree_team_grid_left">
          <figure class="effect-julia">
            <img src="assets/gallery/2.jpg" alt=" " class="img-responsive">
          </figure>
        </div>
        <div class="col-md-4 wthree_team_grid_left">
          <figure class="effect-julia">
            <img src="assets/gallery/3.jpg" alt=" " class="img-responsive">
          </figure>
        </div>
      </div>
      <div class="row about-top w3ls-agile">
        <div class="col-md-4 wthree_team_grid_left">
          <figure class="effect-julia">
            <img src="assets/gallery/4.jpg" alt=" " class="img-responsive">
          </figure>
        </div>
        <div class="col-md-4 wthree_team_grid_left">
          <figure class="effect-julia">
            <img src="assets/gallery/5.jpg" alt=" " class="img-responsive">
          </figure>
        </div>
        <div class="col-md-4 wthree_team_grid_left">
          <figure class="effect-julia">
            <img src="assets/gallery/6.jpg" alt=" " class="img-responsive">
          </figure>
        </div>
      </div>
      <div class="row about-top w3ls-agile">
        <div class="col-md-4 wthree_team_grid_left">
          <figure class="effect-julia">
            <img src="assets/gallery/7.jpg" alt=" " class="img-responsive">
          </figure>
        </div>
        <div class="col-md-4 wthree_team_grid_left">
          <figure class="effect-julia">
            <img src="assets/gallery/8.jpg" alt=" " class="img-responsive">
          </figure>
        </div>
        <div class="col-md-4 wthree_team_grid_left">
          <figure class="effect-julia">
            <img src="assets/gallery/9.jpg" alt=" " class="img-responsive">
          </figure>
        </div>
      </div>
    </div>
  </div>
  <!--/gallery-->

  <!--Products-->
  <div class="container about" id="product">
    <h3 class="agile-title"> Products</h3>
    <hr class="yellow">
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm" style="cursor:pointer" (click)="openProductModal('pluzzle_game','Pluzzle Games')">
          <div class="card-body" >
            <b><h6>PLUZZLE GAME</h6></b>
            <hr>
          </div>
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/pluzzle_game.jpg">
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm" style="cursor:pointer" (click)="openProductModal('box_game','Box Games')">
          <div class="card-body">
            <b><h6>BOX GAME</h6></b>
            <hr>
          </div>
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/box_game.jpg">
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm" style="cursor:pointer" (click)="openProductModal('rope_pluzzle','Rope Pluzzle')">
          <div class="card-body">
            <b><h6>ROPE PUZZLE</h6></b>
            <hr>
          </div>
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/rope_pluzzle.jpg">
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-4 shadow-sm" style="cursor:pointer" (click)="openProductModal('special_gift_and_game','Special Gift&Game')">
          <div class="card-body">
            <b><h6>SPECIAL GIFT&GAME</h6></b>
            <hr>
          </div>
          <img _ngcontent-c10="" class="img-responsive" src="assets/shops/special_gift_and_game.jpg">
        </div>
      </div>
    </div>
  </div>
  <!-- Products -->

  <!--Contact-->
  <div class="about w3layouts-agileinfo contact-w3l text-white" id="contact">
    <h3 class="agile-title text-white">Contact</h3>
    <hr class="yellow">
    <div class="col-md-12 padding-contact">
      <div class="row">
        <div class="col-md-6">
          <div class="span8">
            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25391.724866113826!2d99.0049425002387!3d18.909140087978038!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2c4fa5a9d3b3bdb0!2z4Lia4Lij4Li04Lip4Lix4LiXIOC4muC4uOC4jeC5gOC4peC4tOC4qOC5gOC4geC4oeC4quC5jOC5hOC4oeC5iSDguIjguLPguIHguLHguJQ!5e0!3m2!1sth!2sth!4v1567954052782!5m2!1sth!2sth"></iframe>
            </div>
        </div>
        <div class="col-md-6">
          <div class="contact-form">
            <form [formGroup]="contactForm" (submit)="addContact()" #contactform="ngForm">
              <div class="form-group">
                <label class="control-label col-md-3" for="fname">First Name*:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname" formControlName="firstName">
                  <label *ngIf="contactForm.get('firstName').invalid && (contactForm.get('firstName').dirty || contactForm.get('firstName').touched || contactform.submitted)" style="color: red">
                    First Name is <b>require</b>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="lname">Last Name*:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname"  formControlName="lastName">
                  <label *ngIf="contactForm.get('lastName').invalid && (contactForm.get('lastName').dirty || contactForm.get('lastName').touched || contactform.submitted)" style="color: red">
                    Last Name is <b>require</b>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="email">Email*:</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" placeholder="Enter email" name="email"  formControlName="email">
                  <label *ngIf="contactForm.get('email').invalid && (contactForm.get('email').dirty || contactForm.get('email').touched || contactform.submitted)" style="color: red">
                    Email is <b>require</b>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-md-3" for="comment">Comment*:</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="5" id="comment" formControlName="comment"></textarea>
                  <label *ngIf="contactForm.get('comment').invalid && (contactForm.get('comment').dirty || contactForm.get('comment').touched || contactform.submitted)" style="color: red">
                    Comment is <b>require</b>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Contact-->

  <!--footer-->
  <div class="footer" style="padding-top: 10px">
    <div class="container">
      <div class="row justify-content-md-center pb-3">
        <div class="col-md-4 col-sm-12 col-xs-12  bottom-head bottm-grid">
          <img _ngcontent-c10="" class="size-logo" src="assets/logo-tran-white.png">
          <div class="clearfix"> </div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 three bottm-grid">
          <h3>Contact</h3>
          <div class="addres up-out">
            <p><span class="fa fa-map-marker icons-left" aria-hidden="true"></span> 63/2 Ban Pakham moo.3 Nonghan Sansai
              , Chiang Mai 50290 Thailand
            </p>
            <p><span class="fa fa-envelope icons-left" aria-hidden="true"></span> Boonlerdgamemai63@gmail.com,
              mokuhen1@gmail.com</p>

            <p><span class="fa fa-phone icons-left" aria-hidden="true"></span> 095-857-3431, 083-863-7342</p>

          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 copyright bottm-grid">
          <div class="single-contact-info">
            <h3>Follow us</h3>
            <div class="social">
              <a href="https://www.facebook.com/Boonlerdgamemai-COLTD-1523948264290411/" class="fab fa-facebook hvr-pulse"></a>
              <a href="#" class="fab fa-line hvr-pulse"></a>
            </div><!-- /.social -->
          </div>
          <div class="clearfix"> </div>
        </div>
        <!-- //Copyright -->
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>

  <footer>
    <p>©2018 Boonlerdgmemai. All Rights Reserved </p>
  </footer>

  <!--/footer-->
</div>
