<mat-toolbar class="nav navbar-fixed-top">
    <div fxHide.gt-xs fxFlex fxLayout fxLayoutAlign="center" (click)="onToggleSidenav()">
        <img _ngcontent-c10="" src="assets/logo.png" style="position: relative;height: 38px;width: auto;">
    </div>
    <div>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="center" fxHide.xs>
        <img _ngcontent-c10="" src="assets/logo.png" style="position: relative;height: 38px;width: auto; margin-right: 10px;">
        <ul fxLayout *ngIf="!isManagement" fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="" id="home-nave" class="nav-active" (click)="scroll('home')">HOME</a>
            </li>
            <li>
                <a class="nav-unactive" id="about-nave" (click)="scroll('about')">ABOUT</a>
            </li>
            <li>
                <a class="nav-unactive" id="service-nave" (click)="scroll('services')">SERVICE</a>
            </li>
            <li>
                <a class="nav-unactive" id="gallery-nave" (click)="scroll('gallery')">GALLERY</a>
            </li>
            <li>
                <a class="nav-unactive" id="product-nave" (click)="scroll('product')">PRODUCT</a>
            </li>
            <li>
                <a class="nav-unactive" id="contact-nave" (click)="scroll('contact')">CONTACT</a>
            </li>
        </ul>
        <ul fxLayout *ngIf="isManagement && currentUser" style="font-size: 16px;" fxLayoutGap="5px" class="navigation-items">
            <li>
                <a class="nav-unactive" [routerLinkActive]="['nav-active']" [routerLink]="['management/dashboard']">Dash Board</a>
            </li>
            <li>
                <a class="nav-unactive" [routerLinkActive]="['nav-active']" [routerLink]="['management/chemical']">Chemical</a>
            </li>
            <li>
                <a class="nav-unactive" [routerLinkActive]="['nav-active']" [routerLink]="['management/chemical-order']">Chenical Order</a>
            </li>
            <li>
                <a class="nav-unactive" [routerLinkActive]="['nav-active']" [routerLink]="['management/material']">Material</a>
            </li>
            <li>
                <a class="nav-unactive" [routerLinkActive]="['nav-active']" [routerLink]="['management/material-order']">Material Order</a>
            </li>
            <li>
                <a class="nav-unactive" [routerLinkActive]="['nav-active']" [routerLink]="['management/product']">Product</a>
            </li>
            <li>
                <a class="nav-unactive" [routerLinkActive]="['nav-active']" [routerLink]="['management/product-order']">Product Order</a>
            </li>
            <li>
                <a class="nav-unactive" [routerLinkActive]="['nav-active']" [routerLink]="['management/master-data']">Master Data</a>
            </li>
            <li>
                <a class="nav-unactive" [routerLinkActive]="['nav-active']" [routerLink]="['management/contact']">Contact</a>
            </li>
            <li>
                <a class="nav-unactive" (click)="logout()">LogOut</a>
            </li>
        </ul>
    </div>
</mat-toolbar>