a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
 

li a{
	padding: 8px 16px;
}

li a:hover, a:active{
	padding: 8px 16px;
	background-color: #61d195;
	color: white !important;
}

.nav-active{
    color: #FFFFFF !important;
    background: #47a34e !important;
}

.nav-unactive{
    color: black !important;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
}

.nav{
    background-color: white;
    position: fixed;
    z-index: 9999;
}

 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}