<div class="jumbotron vertical-center">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="loginBox">
          <h2>Login</h2>
          <p>Username </p>
          <input type="text" name="" placeholder="Enter Username" [(ngModel)]="userLogin.username">
          <p>Password</p>
          <input type="password" name="" placeholder="Enter Password" [(ngModel)]="userLogin.password">
          <input type="submit" name="" value="sign In" (click)="login()">
        </div>
      </div>
    </div>
  </div>
</div>