


.loginBox {
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
  }
  
  h2 {
    margin: 0;
    padding: 0 0 20px;
    color: #1E90FF;
    text-align: center;
  }
  
  .loginBox p {
    padding: 0;
    margin: 0;
    font-weight: bold;
    color: #fff;
  }
  
  .loginBox input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .loginBox input[type="text"], .loginBox input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: rgb(255, 38, 126);
    cursor: pointer;
    border-radius: 20px;
  }
  
  .loginBox input[type="submit"]:hover {
    background: #efed40;
    color: #262626;
  }
  
  .loginBox a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }
  
  ::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .user {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
    border-radius: 50%;
  }

  .jumbotron.vertical-center {
    margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
  }
  
  .vertical-center {
    min-height: 100%;  /* Fallback for vh unit */
    min-height: 100vh; /* You might also want to use
                          'height' property instead.
                          
                          Note that for percentage values of
                          'height' or 'min-height' properties,
                          the 'height' of the parent element
                          should be specified explicitly.
    
                          In this case the parent of '.vertical-center'
                          is the <body> element */
  
    /* Make it a flex container */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; 
    
    /* Align the bootstrap's container vertically */
      -webkit-box-align : center;
    -webkit-align-items : center;
         -moz-box-align : center;
         -ms-flex-align : center;
            align-items : center;
    
    /* In legacy web browsers such as Firefox 9
       we need to specify the width of the flex container */
    width: 100%;
    
    /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
       hence the bootstrap's container won't be aligned to the center anymore.
    
       Therefore, we should use the following declarations to get it centered again */
           -webkit-box-pack : center;
              -moz-box-pack : center;
              -ms-flex-pack : center;
    -webkit-justify-content : center;
            justify-content : center;
  }
  